body {
  background-color: #1d0c0c; }

.App-header {
  color: green;
  font-size: 2em;
  text-align: center; }

/* stretch cards next to each other*/
.cards-slider {
  position: relative;
  max-width: 226px;
  margin: auto auto; }
  .cards-slider:after {
    content: '';
    display: block;
    width: 150%;
    height: 264px;
    outline: 10px solid brown;
    position: absolute;
    top: 0;
    left: 0; }
